<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="./logo.png">
		<title>Node JS Jobs Brazil</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body >
		<div id="app"> 	

			
			<nav id="menus" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top " style="background-color:#333333">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Node JS Jobs Brazil</a>
					</div>
					<button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse"  id="navbarCollapse">
						<ul class="nav navbar-nav mr-auto">
							
						</ul>
						<form class="form-inline mt-2 mt-md-0 mr-auto">
							<div class="input-group">
								<input class="form-control form-control-sm" type="text" placeholder="Vagas" aria-label="Vagas" v-model="vaga">
								<div class="input-group-append">	
									<button class="btn btn-sm btn-outline-success" type="submit">BUSCAR</button>
								</div>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item ">
								<a class="nav-link" href="/Artigos/todos">Artigos</a>
							</li>
							
							<li class="nav-item ">
								<a class="nav-link" href="/Artigos/meus_artigos" v-if="logado">Meus Artigos</a>
							</li>
							
							<li class="nav-item ">
								<a class="nav-link" href="/Vagas/nova">Publicar Vaga</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Vagas/minhas_publicacoes" v-if="logado">Vagas que eu publiquei</a>
							</li>
							<li class="nav-item " v-if="logado">
								<a class="nav-link" href="/perfil">
									<img width="30px" height="25px" v-bind:src="Usuario.foto" border="0px" hspace="0px" vspace="0px">
									{{Usuario.nome}}
								</a>
							</li>
							<li class="nav-item dropdown"">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
											<button class="nav-linkbtn btn-sm btn-outline-danger" v-if="logado">SAIR</button>
											<button class="nav-linkbtn btn-sm btn-outline-success" v-else="logado">Login</button>
								</a>
								<ul class="dropdown-menu bg-dark">
									<li class="nav-item navbar-right"><a class="nav-link" href="#">cadastre-se</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<header	style="height:auto;background-color:#669f64;">
					<div id="linha_menu" class="row" style="height:60px"></div>
					<div class="container">
						<img src="./logo.png" style="margin: 10px 0 10px 0">
					</div>			
			</header>
			<div class="alert alert-success" role="alert">
				<strong>Well done!</strong>  Hello {{vaga}}
			</div>
			<!--<div class="alert alert-info" role="alert">
			<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
			</div>
			<div class="alert alert-warning" role="alert">
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
			</div>
			<div class="alert alert-danger" role="alert">
			<strong>Oh snap!</strong> Change a few things up and try submitting again.
			</div>
			-->
			<div class="container" role="main">
				<h4>Últimas vagas publicadas	</h4>
				<a href="/Vagas/senior_ruby_on_rails_remoto_ou_presencial" style="text-decoration: none">
					<div class="card bg-light border-info mb-3" >
						<div class="card-header text-white bg-info ">Sênior Ruby On Rails Remoto Ou Presencial</div>
						<div class="card-body">
							<h5 class="card-title text-dark">Teresopolis/RJ</h5>
							<p class="card-text text-dark">Publicado há 14 dias</p>
						</div>
					</div>
				</a>
				<a href="/Vagas/senior_ruby_on_rails_remoto_ou_presencial" style="text-decoration: none">
					<div class="card bg-light border-info mb-3" >
						<div class="card-header text-white bg-info ">Sênior Ruby On Rails Remoto Ou Presencial</div>
						<div class="card-body">
							<h5 class="card-title text-dark">Teresopolis/RJ</h5>
							<p class="card-text text-dark">Publicado há 14 dias</p>
						</div>
					</div>
				</a>
				
				<a href="/Vagas/todas" class="nav-link p-3 mb-2 btn bg-light text-dark border-dark  shadow">Ver todas</a>
				
				<h4>Últimos artigos publicados</h4>
				<a href="/Artigos/como_formatar_o_seu_anuncio" style="text-decoration: none">
					<div class="card bg-light border-info mb-3" >
						<div class="card-header text-white bg-info ">Como formatar o seu anúncio</div>
						<div class="card-body">
							<p class="card-text text-dark">Publicado há 3 meses</p>
						</div>
					</div>
				</a>
				<a href="/Artigos/agora_voce_pode_publicar_seus_artigos" style="text-decoration: none">
					<div class="card bg-light border-info mb-3" >
						<div class="card-header text-white bg-info ">Agora você pode publicar seus artigos!</div>
						<div class="card-body">
							<p class="card-text text-dark">Publicado há 3 meses</p>
						</div>
					</div>
				</a>
				<a href="/Artigos/todos" class="nav-link p-3 mb-2 btn bg-light text-dark border-dark shadow ">Ver todos</a>
			</div>		
		</div>		
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
	<script >
		$(document).ready(function(){
			$('#linha_menu').height($('#menus').outerHeight(true));
			$( window ).resize(function(){
				$('#linha_menu').height($('#menus').outerHeight(true));
			});
		});

		var app = new Vue({
			el: '#app',
			data: {
				logado:false,
				Usuario:{}
				//Usuario: {nome:'meu nome',foto:'https://image.flaticon.com/icons/png/512/17/17797.png'}
			}
		})
	</script>
</html >
